{% extends 'home-page.html' %}

{% block content %}

    <main class="hoc container clear">
    <h1>Всички новини с таг "{{ tag.name }}":</h1>
    <ul class="news-list">
    {% for news_item in news %}
        <li class="news-item">
        <h2 class="heading">{{ news_item.title }}</h2>

        <p class="news-content">{{ news_item.content|truncatewords:50 }}</p>
        <a href="{% url 'news_detail' news_item.slug %}">Прочети повече</a>
        </li>
    {% endfor %}
    </ul>
    </main>
{% endblock %}
