{% extends 'home-page.html' %}

{% block content %}
    <main class="hoc container clear">
  <h2>{{ product.name }}, {{ product.color }}</h2>
  <p>{{ product.description }}</p>
  <p>Price: {{ product.price }}</p>
  <p>Color: {{ product.color }}</p>
  <img src="{{ product.image.url }}" alt="{{ product.name }}">

  <h3>Available Sizes</h3>
  {% for variant in product.sizes.all %}
    <div>
      <p>Size: {{ variant.size }}</p>
      <p>Stock: {{ variant.stock }}</p>
      <a href="{% url 'add_to_cart' product.slug variant.size %}">Add to Cart</a>
    </div>
  {% empty %}
    <p>No sizes available for this product.</p>
  {% endfor %}
    </main>
{% endblock %}

