{% extends 'home-page.html' %}

{% block content %}

<main class="hoc container clear">
    <div class="wrapper row3">
            <h1>За нас</h1>
        <p class="about-text">
            'Добре дошли в ExoTerra Chronicles!
            Ние сме екип от страстни космически ентусиасти,
            които споделяме общата любов към космоса и жаждата за откривания.
            Нашата мисия е да ви въведем в света на екзопланетите и космическите тайни,
            които преминаха през векове на изследвания и открития.
            За нас, небето не е граница, а предизвикателство за откриване на нови светове.
            През нашата пътешествие в космоса, ние се вдъхновяваме от
            безкрайната красота и загадките на Вселената.
            Вярваме, че екзопланетите носят тайни за произхода на живота и ни дават
            уникалната възможност да открием други обитаеми светове.
            Нашата страст не е само в изследванията, но и в споделянето
            на удивителните открития и факти за космоса с вас - нашата общност.
            Целта ни е да ви вълнуваме и вдъхновяваме с интересни статии, новини и графики, които откриват
            чудесата на слънчевата система и отвеждат ума ни на далечни галактики.
            Искаме да създадем среда, в която всеки може да споделя своите въпроси и
            любопитство за космоса, както и да участва в нашата общност на космически ентусиасти.
            Нашата цел е да създадем място, където можем да се наслаждаваме на
            общата ни страст и да сътворим вълнуващи и предизвикателни дискусии.
            С вас, нашата общност от космически ентусиасти,
            ние искаме да продължим да разширяваме границите на нашето познание за
            Вселената и да се чувстваме свързани с нейната магия. Заповядайте в ExoTerra Chronicles,
            където заедно ще пишем нови глави от тази невероятна и увлекателна космическа история!'
        </p>
    </div>
</main>

{% endblock %}
